/*   general  */
*,*:before, *:after{
  box-sizing: border-box;
}

body{
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  line-height: 135%;
}

/*  hero section  */
.nav-bar{
  float: right;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 135%;
  color: #616161;
  display: inline-block;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav a:hover{
  color: #C997C6;
}

.herotext{
  text-align: center;
  padding-top: 300px;
}

.herotext h4{
  padding-bottom: 150px;
}

.logo {
    float: left;
    padding-top:20px;
    padding-left: 20px;
    }

.logo img {
    width:50%;
    }

.airplane img{
  width: 5%;
  padding-left: 20px;
  padding-top: 0px;
}

/*  seperating boxes  */
.box_coral{
  background-color: #FFAAA5;
  height: 30px;
  border-top: 80px;
  border-bottom: 80px;
}

.box_orange{
  background-color: #FFD3B6;
  height: 30px;
  border-top: 80px;
  border-bottom: 80px;
}

.box_teal{
  background-color: #75C9CC;
  height: 30px;
  border-top: 80px;
  border-bottom: 80px;
}

.box_mint{
  background-color: #B7F4DA;
  height: 30px;
  border-top: 80px;
  border-bottom: 80px;
}

.box_purple{
  background-color: #F2D9FB;
  height: 30px;
  border-top: 80px;
  border-bottom: 80px;
}

/*  fonts  */
  h1{
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    line-height: 135%;
  }

  h2{
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    line-height: 135%;
  }

  h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    line-height: 135%;
  }

  h4{
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: lighter;
    line-height: 135%;
  }

  h6{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 135%;
  }

  p{
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    line-height: 150%;
  }

caption{
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  line-height: 135%;
  text-align: center;
}

/*  Projects on index.html  */

.glomockup img{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.projectdescription h2, .projectdescription h3{
  text-align: center;
  margin-top: 60px;
}

.button2{
  border:solid 3px #C997C6;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 60px auto 60px auto;
  padding: 8px;
  width: 150px;
}

.button2:hover {
  background-color: #C997C6;
  color: white;
  font-weight: bold;
}

.euromockup img{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}

/*  About me on index.html  */
.cartoonme img{
  width: 20%;
  display: block;
  margin: 60px auto 60px auto;
}

.aboutmedescription h2, .aboutmedescription p {
  margin: 60px 340px 0px 340px;
}

/*  GLO CASESTUDY  */
.gloherotext{
  text-align: left;
  padding-top: 200px;
}

.glo_desktop img{
  width: 60%;
  display: block;
  margin: 60px auto 60px auto;
}

    /*slideshow*/

    /* Slideshow container */
    .persona-slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }

    /* Hide the images by default */
    .mySlides {
      display: none;
    }

    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }

    /* Number text (1/3 etc) */
    .numbertext {
      color: #616161;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
      background-color: #717171;
    }

    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }

    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }

.glo_process h4, .glo_process p{
  margin: 60px 340px 60px 340px;
}

.glo_comp h4, .glo_comp p{
  margin: 60px 340px 60px 340px;
}

.glo_comp ul{
  display: flex;
  justify-content: center;
}

.glo_user_research h4, .glo_user_research p{
  margin: 60px 340px 60px 340px;
}

.glo_user_stories h4, .glo_user_stories p{
  margin: 60px 340px 60px 340px;
}

.glo_sitemap img{
  width: 60%;
  display: block;
  margin: 60px auto 60px auto;
}

/*not working?
.glo_sitemap caption{
  text-align: center;
}*/

.glo_user_flows h4, .glo_user_flows p{
  margin: 60px 340px 60px 340px;
}

.glo_user_flows img{
  width: 60%;
  display: block;
  margin: 60px auto 60px auto;
}

.glo_branding h4, .glo_branding p{
  margin: 60px 340px 60px 340px;
}

.glo_branding img{
  width: 60%;
  display: block;
  margin: 60px auto 60px auto;
}

.glo_hifi h4, .glo_hifi p{
  margin: 60px 340px 60px 340px;
}

.glo_hifi img{
  width: 20%;
  display: inline;
  justify-content: center;
  margin: 60px auto 60px auto;
}

.glo_prototyping h4, .glo_prototyping p{
  margin: 60px 340px 60px 340px;
}

.glo_testing h4, .glo_testing p{
  margin: 60px 340px 60px 340px;
}

.glo_testing img{
  width: 20%;
  display: inline;
  justify-content: center;
  margin: 60px auto 60px auto;
}

.glo_couch img{
  width: 60%;
  display: block;
  margin: 60px auto 60px auto;
}

.glo_conclusion h4, .glo_conclusion p{
  margin: 60px 340px 60px 340px;
}

/*  ABOUT page  */
.biographycontent h2{
  padding-top: 200px;
  text-align: center;
}

.biographycontent p{
  margin-left: 340px;
  margin-right: 340px;
}

.biographycontent blockquote{
  margin: 50px 340px 50px 340px;
  font-weight: bold;
  text-align: center;
}

.daniela_photo img{
  width: 20%;
  display: block;
  margin: 60px auto 60px auto;
}

/*  CONTACT page  */
.contactherotext{
  text-align: center;
  padding-top: 200px;
}

.orangecartoonme img{
  width: 20%;
  display: block;
  margin: 60px auto 60px auto;
}

.contactdescription p{
  margin: 60px 340px 60px 340px;
}

.formbox {
  border: solid 4px #C997C6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}


/*  Footer  */
footer{
  padding-top: 50px;
  padding-bottom:0px;
  text-align: left;
  padding-left: 20px;
  padding-right:20px;
  background-color: #FAD8D6;
  display: flex;
}

.footerlinks{
  margin-left: 950px;
  display: flex;
  flex-direction: row;
}
