      /*   CODED - MOBILE FIRST    */

/*   general  */
*,*:before, *:after{
  box-sizing: border-box;
}

body{
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  line-height: 135%;
}

/*  hero section  */

header{
  height: 100px;
}

.logo {
  width: 30%;
}

.nav-bar{
  float: right;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #616161;
  display: block;
  padding-right: 20px;
  margin-top: 20px;
  padding-bottom: 20px;

}
.button a{
  text-decoration: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav a:link{
  color: #616161;
}

nav a:visited{
  color: #616161;
}

nav a:hover{
  color: #C997C6;
}

.herotext{
  text-align: center;
  padding-top: 50px;
  margin: 0px 30px 0px 30px;
}

.logo {
    float: left;
    padding-top:20px;
    padding-left: 20px;
    }

.logo img {
    width:50%;
    }

.airplane img{
  width: 15%;
  padding-left: 10px;
}

/*  seperating boxes  */
.box_coral{
  background-color: #FFAAA5;
  height: 30px;
  margin: 50px 0px 50px 0px;
}

.box_orange{
  background-color: #FFD3B6;
  height: 30px;
  margin: 50px 0px 50px 0px;
}

.box_teal{
  background-color: #75C9CC;
  height: 30px;
  margin: 50px 0px 50px 0px;
}

.box_mint{
  background-color: #B7F4DA;
  height: 30px;
  margin: 50px 0px 50px 0px;
}

.box_purple{
  background-color: #F2D9FB;
  height: 30px;
  margin: 50px 0px 50px 0px;
}

/*  fonts  */
  h1{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    line-height: 135%;
  }

  h2{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    line-height: 135%;
  }

  h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 135%;
  }

  h4{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 135%;
  }

  h6{
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    line-height: 135%;
  }

  p{
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    line-height: 150%;
  }

/*   Button  */
  .button2{
    border:solid 3px #C997C6;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 60px auto 60px auto;
    padding: 10px;
    width: 150px;
  }

  .button2:hover {
    background-color: #C997C6;
    color: white;
    font-weight: bold;
  }

  .nomargin{
    margin: 0px;
  }

/*  Projects on index.html  */

.mockup_image img{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.projectdescription h2, .projectdescription h3{
  text-align: center;
  margin: 10px 45px 0px 45px;
}

/*  About me on index.html  */
.cartoonme img{
  width: 40%;
  display: block;
  margin: 60px auto 60px auto;
}

/* NORMAL MARGINS */
.bodywithmargins {
  margin: 0px 45px 0px 45px;
}

/* 60% Width images */
.large_image img{
  width: 100%;
  display: block;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.large_image p{
  font-family: 'Quicksand', sans-serif;
  font-size: 10px;
  line-height: 135%;
  text-align: center;
}

/*  GLO CASESTUDY  */

.gloprojectdescription {
  margin: 45px 45px 0px 45px;
  text-align: center;
}

.large_image_glo img{
  width: 100%;
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

  /*Roles etc*/
.roles_etc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.roles_etc ul{
  list-style: none;
}

.roles_etc li{
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  line-height: 150%;
}

.glo_problem ul{
  margin: 0px 45px 0px 45px;
  list-style: disc;
}

.glo_problem li{
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  line-height: 150%;
}

/*Comp Analysis*/
  .glo_comp ul{
    display: flex;
    justify-content: center;
  }

  .glo_comp li{
    display: inline-block;
    list-style: none;
    margin: 32px 10px 0px 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

/*  ABOUT page  */
.biographycontent h2{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.biographycontent{
  margin: 0px 45px 0px 45px;
}

.biographycontent blockquote{
  margin: 50px 25px 50px 25px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.daniela_photo img{
  width: 70%;
  display: block;
  margin: 40px auto 40px auto;
}

/*  CONTACT page  */
.contactherotext h2{
  text-align: center;
  padding-top: 30px;
}

.orangecartoonme img{
  width: 40%;
  display: block;
  margin: 60px auto 60px auto;
}

.contactdescription {
  margin: 40px 45px 60px 45px;
}

.container {
  border: solid 4px #C997C6;
  border-radius: 5px;
  padding: 20px;
  width: 90%;
  margin: auto;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

  button[type=submit] {
    border:solid 3px #C997C6;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 8px;
    width: 150px;
    cursor: pointer;
    margin:auto;
    }

  button[type=submit]:hover {
    background-color: #C997C6;
    color: white;
    font-weight: bold;
  }

.myresume{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.myresume p{
  margin-left: 32px;
  margin-top: 20px;
}

/*  Footer  */
footer {
  padding-left: 10px;
  background-color: #FAD8D6;
  height: 50px;
  display: flex;
}

footer h6{
  flex-direction: row;
  flex: 1;
  padding-top: 14px;
}

footer ul{
  flex-direction: row;
  display: flex;
}

footer li{
  list-style: none;
  flex-direction: row;
  padding-right: 20px;
}

.footerlogo img{
  width: 30px;
  flex-direction: row;
  padding-top: 10px;
}

/*     MEDIA QUERIES    */
        /* Tablet */
@media screen and (min-width: 575px) {

  h1{
font-size: 30px;
}

h2{
font-size: 25px;
}

h3{
font-size: 20px;
}

h4{
font-size: 25px;
}

p{
font-size: 18px;
}

/*  hero section  */

.nav-bar{
  font-size: 20px;
}

.logo {
  width: 15%;
}

.button2{
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  width: 200px;
}

.herotext h4{
  margin-left: 100px;
  margin-right: 100px;
}

.airplane img{
   width: 10%;
 }

/* Glo casestudy*/
.roles_etc li{
  font-size: 18px;
}

.glo_problem li{
  font-size: 18px;
}

/*  About me  */

.daniela_photo img{
  width: 50%;
}

 .biographycontent blockquote{
   font-size: 30px;
   line-height: 135%;
}

        /* Desktop */
@media screen and (min-width: 1199px) {

/*  FONTS  */
  h1{
font-size: 35px;
}

h2{
font-size: 25px;
}

h3{
font-size: 20px;
}

h4{
font-size: 25px;
}

p{
font-size: 18px;
}

h6{
  font-size: 16px;
}

/* NORMAL MARGINS */
.bodywithmargins {
  margin: 0px 370px 0px 370px;
}

/* 60% Width images */
.large_image img{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.large_image p{
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  line-height: 135%;
  text-align: center;
}

/* Seperating boxes  */
.box_coral{
  margin: 80px 0px 80px 0px;
}

.box_orange{
  margin: 80px 0px 80px 0px;
}

.box_teal{
  margin: 80px 0px 80px 0px;
}

.box_mint{
  margin: 80px 0px 80px 0px;
}

.box_purple{
  margin: 80px 0px 80px 0px;
}

/*  Index.html  */
.airplane img{
   width: 5%;
 }

 .nav-bar{
   font-size: 20px;
 }

 .button2{
   font-size: 18px;
 }

 .mockup_image img{
   width: 40%;
 }

 .cartoonme img{
   width: 20%;
 }

/*   About Me    */
.biographycontent h2 {
    padding-top: 100px;
}

.biographycontent p{
  margin-left: 340px;
  margin-right: 340px;
}

.biographycontent blockquote{
  margin: 50px 340px 50px 340px;
  font-size: 20px;
}

.daniela_photo img{
  width: 20%;
}

/*  GLO CASESTUDY  */

  /*  hero section */
.gloproject{
  display: flex;
  flex-direction: row;
  margin-left: 135px;
  margin-right: 135px;
  margin-top: 100px;
}

.gloprojectdescription {
  text-align: left;
  margin-top: 135px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.large_image_glo {
  width: 100%;
}

/*Roles etc*/
.roles_etc{
display: flex;
flex-direction: row;
justify-content: center;
}

.roles_etc li{
  text-align: center;
  font-size: 18px;
}

.glo_problem li{
  font-size: 18px;
}

.glodeliverables{
margin-left: 150px;
margin-right: 150px;
}

.glodeliverables h3{
  text-align: center;
  text-decoration: underline;
}

.gloroles h3{
  text-align: center;
  text-decoration: underline;
}

.glodetails h3{
  text-align: center;
  text-decoration: underline;
}

.glo_comp li{
  padding-left: 50px;
  padding-right: 50px;
}
/*  CONTACT PAGE  */
.orangecartoonme img{
  width: 20%;
}

.contactdescription{
  margin: 0px 370px 80px 370px;
}

.container {
    max-width: 700px;
  }

/*  FOOTER  */

  footer h6{
    font-size: 16px;
  }
}

/* Setting max width for larger screens */
@media screen and (min-width: 1440px) {

.bodywithmargins{
  max-width: 650px;
  margin: auto;
  }

  .herotext h4{
    max-width: 500px;
    margin: auto;
  }

.biographycontent h2{
  max-width: 760px;
  margin: auto;
  }

.biographycontent p{
  max-width: 760px;
  margin: auto;
  }

}
