/*   general  */
*,*:before, *:after{
  box-sizing: border-box;
}

body{
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  line-height: 135%;
}

/*  hero section  */

header{
  height: 150px;
}

.nav-bar{
  float: right;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  line-height: 135%;
  color: #616161;
  display: inline-block;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

}
.button a{
  text-decoration: none;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav a:link{
  color: #616161;
}

nav a:visited{
  color: #616161;
}

nav a:hover{
  color: #C997C6;
}

.herotext{
  text-align: center;
  padding-top: 150px;
}

.herotext h4{
  padding-bottom: 80px;
}

.logo {
    float: left;
    padding-top:20px;
    padding-left: 20px;
    }

.logo img {
    width:50%;
    }

.airplane img{
  width: 8%;
  padding-left: 20px;
  padding-top: 0px;
}

/*  seperating boxes  */
.box_coral{
  background-color: #FFAAA5;
  height: 30px;
  border-top: 80px;
  border-bottom: 80px;
  margin: 80px 0px 80px 0px;
}

.box_orange{
  background-color: #FFD3B6;
  height: 30px;
  border-top: 80px;
  border-bottom: 80px;
  margin: 80px 0px 80px 0px;
}

.box_teal{
  background-color: #75C9CC;
  height: 30px;
  border-top: 80px;
  border-bottom: 80px;
  margin: 80px 0px 80px 0px;
}

.box_mint{
  background-color: #B7F4DA;
  height: 30px;
  border-top: 80px;
  border-bottom: 80px;
  margin: 80px 0px 80px 0px;
}

.box_purple{
  background-color: #F2D9FB;
  height: 30px;
  border-top: 80px;
  border-bottom: 80px;
  margin: 80px 0px 80px 0px;
}

/*  fonts  */
  h1{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    line-height: 135%;
  }

  h2{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    line-height: 135%;
  }

  h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 135%;
  }

  h4{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-weight: lighter;
    line-height: 135%;
  }

  h6{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 135%;
  }

  p{
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    line-height: 150%;
  }

/*   Button  */
  .button2{
    border:solid 3px #C997C6;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 60px auto 60px auto;
    padding: 15px;
    width: 250px;
  }

  .button2:hover {
    background-color: #C997C6;
    color: white;
    font-weight: bold;
  }

  .nomargin{
    margin: 0px;
  }

/*  Projects on index.html  */

.mockup_image img{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.projectdescription h2, .projectdescription h3{
  text-align: center;
  margin: 60px 45px 0px 45px;
}

/*  About me on index.html  */
.cartoonme img{
  width: 40%;
  display: block;
  margin: 60px auto 60px auto;
}

/* NORMAL MARGINS */
.bodywithmargins {
  margin: 0px 45px 0px 45px;
}

/* 60% Width images */
.large_image img{
  width: 100%;
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.large_image p{
  font-family: 'Quicksand', sans-serif;
  font-size: 10px;
  line-height: 135%;
  text-align: center;
}

/*  GLO CASESTUDY  */

  /*Roles etc*/
.roles_etc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/*Comp Analysis*/
  .glo_comp ul{
    display: flex;
    justify-content: center;
  }

  .glo_comp li{
    display: inline-block;
    list-style: none;
    margin: 32px 20px 0px 20px;
  }

/*  ABOUT page  */
.biographycontent h2{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.biographycontent{
  margin: 0px 45px 0px 45px;
}

.biographycontent blockquote{
  margin: 50px 45px 50px 45px;
  font-weight: bold;
  text-align: center;
}

.daniela_photo img{
  width: 70%;
  display: block;
  margin: 60px auto 60px auto;
}

/*  CONTACT page  */
.contactherotext h2{
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
}

.orangecartoonme img{
  width: 40%;
  display: block;
  margin: 60px auto 60px auto;
}

.contactdescription {
  margin: 40px 45px 60px 45px;
}

.container {
  border: solid 4px #C997C6;
  border-radius: 5px;
  padding: 20px;
  width: 90%;
  margin: auto;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

  button[type=submit] {
    border:solid 3px #C997C6;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 8px;
    width: 150px;
    cursor: pointer;
    margin:auto;
    }

  button[type=submit]:hover {
    background-color: #C997C6;
    color: white;
    font-weight: bold;
  }

.myresume{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.myresume p{
  margin-left: 32px;
}

/*  Footer  */
footer{
  padding-top: 5px;
  padding-bottom:0px;
  text-align: left;
  padding-left: 20px;
  padding-right:20px;
  background-color: #FAD8D6;
}

footer h6{
  display: inline-block;
  font-size: 20px;
}

.footerlinks{
   float: right;
}

.footerlinks li{
  padding-top: 5px;
  display: inline-block;
  list-style: none;
}

/*     MEDIA QUERIES    */
        /* Tablet */
@media screen and (min-width: 575px) {

  h1{
font-size: 40px;
}

h2{
font-size: 30px;
}

h3{
font-size: 25px;
}

h4{
font-size: 30px;
}

p{
font-size: 30px;
}

.herotext h4{
  margin-left: 200px;
  margin-right: 200px;
}

.airplane img{
   width: 12%;
 }

 .biographycontent blockquote{
   font-size: 30px;
   line-height: 135%;
}

        /* Desktop */
@media screen and (min-width: 1199px) {
  h1{
font-size: 35px;
}

h2{
font-size: 25px;
}

h3{
font-size: 20px;
}

h4{
font-size: 25px;
}

p{
font-size: 18px;
}

h6{
  font-size: 16px;
}
.airplane img{
   width: 8%;
 }

.nav-bar{
  font-size: 20px;
}

.mockup_image img{
  width: 40%;
}

.cartoonme img{
  width: 20%;
}

/* NORMAL MARGINS */
.bodywithmargins {
  margin: 0px 370px 0px 370px;
}

/* 60% Width images */
.large_image img{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.large_image p{
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  line-height: 135%;
  text-align: center;
}

.button2{
  font-size: 18px;
}

/*  GLO CASESTUDY  */

  /*  hero section */
.gloproject{
  display: flex;
  flex-direction: row;
  margin-left: 135px;
  margin-right: 135px;
  margin-top: 30px;
}

.gloherotext{
  text-align: left;
  margin-right: 135px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.glohand img{
  width: 100%;
}

.buttontwo_glohero{
  margin-top: 50px;
}

/*Roles etc*/
.roles_etc{
display: flex;
flex-direction: row;
justify-content: center;
}

.glodeliverables{
margin-left: 150px;
margin-right: 150px;
}

.glodeliverables h3{
  text-align: center;
  text-decoration: underline;
}

.gloroles h3{
  text-align: center;
  text-decoration: underline;
}

.glodetails h3{
  text-align: center;
  text-decoration: underline;
}

.roles_etc li{
  text-align: left;
}

.biographycontent p{
  margin-left: 340px;
  margin-right: 340px;
}

.biographycontent blockquote{
  margin: 50px 340px 50px 340px;
}

.daniela_photo img{
  width: 20%;
}

.orangecartoonme img{
  width: 20%;
}

.contactdescription{
  margin: 0px 370px 80px 370px;
}

.container {
    max-width: 700px;
  }

  footer h6{
    font-size: 16px;
  }
}
